* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}
header {
  display: flex;
  justify-content: center;
  box-shadow: 10px 8px 20px -20px rgb(108, 108, 108);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(63, 63, 63);
}
button {
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  align-self: center;
}
.libraryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 40px;
}
.bookCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  width: 250px;
  height: auto;
  position: relative;
  display: grid;
  grid-template: auto repeat(3, 20px) / 5fr 1fr;
  grid-gap: 10px;
  transition: all 0.2s ease-in-out;
}
.bookCard:hover {
  transform: scale(1.03);
}
.bookTitle {
  grid-column: 1 / 3;
  font-weight: bold;
  font-size: 1.3rem;
  justify-self: center;
}
.bookAuthor {
  grid-column: 1 / 3;
}
.bookRead {
  grid-area: 4 / 2 / 5 / 3;
  position: relative;
  align-self: center;
  right: 15px;
}

.readStatus {
  grid-row: 4;
  width: 145px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.removeBtn,
.closeModal {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: none;
  transition: font-size 0.2s;
}
.removeBtn:hover,
.closeModal:hover {
  font-size: large;
}
dialog + button {
  margin-top: 10px;
  padding: 15px;
  width: 180px;
  align-self: center;
  border: none;
  font-size: larger;
}
dialog {
  position: relative;
  padding: 30px;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title,
.author,
.pages {
  display: flex;
  flex-direction: column;
}

#title:invalid,
#author:invalid,
#pages:invalid {
  border-color: red;
}

#add {
  margin-top: 10px;
}
#add,
dialog + button,
.readStatus {
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
  background-color: white;
}
#add:hover,
dialog + button:hover,
.readStatus:hover {
  background-color: rgb(231, 231, 231);
}

dialog[open] {
  animation: fadein 0.3s ease-in forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
